@import url('http://fonts.cdnfonts.com/css/cubicfive');
.cardGame {
    transform: scale(0.7);
}
.cards {
    padding-top: 0px
}
.cardBack {
    background: url("/static/pokeCardBack.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: 79vh;
    width:100%;
    border-radius: 10px;
    background-color: #00ff00;
    filter: drop-shadow(8px 12px 6px rgb(0 0 0 / 65%));
}
.banner {
    background: url("/static/banner.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
	width: 50vw;
	height: 120px;
	margin-left: 25%;
	margin-right: 25%;
	transform: scale(1);
}
.banner:hover {
	transform: scale(1.1);
}
.cardText {
    align-bottom;
    font-family: 'CubicFive12', sans-serif;
    font-size: 30px;
}
.button {
    color:white;
    font-family: 'CubicFive12', sans-serif;
    font-weight:bold;
    font-size:25px;
    text-align: center;
    text-decoration:none;
    background-color:#FFA12B;
    display:block;
    position:relative;
    padding:4px 15px;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);

    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.button:active{
  top:10px;
  background-color:#F78900;

  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}
.noCardMsg {
    border-radius: 20px;
    background-color: #ed2218;
    display: flex;
    justify-content: center;
}
.pikaMeme {
    background: url("/static/pikachuMeme.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: 79vh;
    width:100%;
    border-radius: 10px;
}
