@import url('http://fonts.cdnfonts.com/css/cubicfive');
* {
  padding: 0;
  margin: 0;
}
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}
.containerPlayerOne,
.containerPlayerTwo {
  width: 350px;
  position: absolute;
  transform: translate(-50%, -50%);
}
.container {
  width: 350px;
  position: absolute;
  top: 20vh;
}
#card,
#firstPlayerCard,
#secondPlayerCard {
  position: relative;
  width: 100%;
  padding: 30px 20px;

  border-radius: 10px;
}
.cardShadow {
    filter: drop-shadow(8px 12px 6px rgb(0 0 0 / 65%));;
}
#card img,
#firstPlayerCard img,
#secondPlayerCard img {
  display: block;
  width: 180px;
  max-height: 200px;
  position: relative;
  margin: 20px auto;
}
.hp {
  width: 80px;
  background-color: #ffffff;
  text-align: center;
  padding: 8px 0;
  border-radius: 30px;
  margin-left: auto;
  font-weight: 400;
}
.poke-name {
  text-align: center;
  font-weight: 600;
  color: #000000;
}
.types,
.firstPlayerCardTypes,
.secondPlayerCardTypes{
  display: flex;
  justify-content: space-around;
  margin: 20px 0 40px 0;
}
.hp span,
.types span,
.firstPlayerCardTypes span,
.secondPlayerCardTypes span {
  font-size: 16px;
  letter-spacing: 0.4px;
  font-weight: 600;
}

.types span,
.firstPlayerCardTypes span,
.secondPlayerCardTypes span {
  padding: 5px 20px;
  border-radius: 20px;
  color: #ffffff;
}
.stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: #000000;

}
.stats p {
  color: #404060;
}

.pokeSearchForm{
   padding-top: 20px;
   position: absolute;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
}

.bg {
    background: url("/static/pokeBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
    height: 100vh;
    width:100vw;
}
.loadingGIF {
    background: url("/static/loading.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
    height: 100%;
    width:100vw%;
}
.pokedexBtn,
.downloadBtn {
  color:white;
  font-family: 'CubicFive12', sans-serif;
  font-weight:bold;
  text-align: center;
  text-decoration:none;
  background-color:#FFA12B  ;
  display:block;
  position:relative;
  padding:5px 10px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.pokedexBtn:active,
.downloadBtn:active {
  top:3px;
  background-color:#F78900;

  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}
.smallCard {
transform: scale(0.65);
}
.formRow {
height: 60px;
}
.downloadRow {
    margin-top: 60vh;
}


