* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #eff3ff;
}
.containerPlayerOne {
  width: 350px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 8%;
  text-align:left;
}
.containerPlayerTwo {
  width: 350px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 8%;
  text-align: right;
}
.container {
  width: 350px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
#card,
#firstPlayerCard,
#secondPlayerCard {
  position: relative;
  width: 100%;
  padding: 30px 20px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
#card img,
#firstPlayerCard img,
#secondPlayerCard img {
  display: block;
  width: 180px;
  max-height: 200px;
  position: relative;
  margin: 20px auto;
}
.hp {
  width: 80px;
  background-color: #ffffff;
  text-align: center;
  padding: 8px 0;
  border-radius: 30px;
  margin-left: auto;
  font-weight: 400;
}
.poke-name {
  text-align: center;
  font-weight: 600;
  color: #000000;
}
.types,
.firstPlayerCardTypes,
.secondPlayerCardTypes{
  display: flex;
  justify-content: space-around;
  margin: 20px 0 40px 0;
}
.hp span,
.types span,
.firstPlayerCardTypes span,
.secondPlayerCardTypes span {
  font-size: 12px;
  letter-spacing: 0.4px;
  font-weight: 600;
}

.types span,
.firstPlayerCardTypes span,
.secondPlayerCardTypes span {
  padding: 5px 20px;
  border-radius: 20px;
  color: #ffffff;
}
.stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: #000000;

}
.stats p {
  color: #404060;
}
.playerOneCycle {
  font-size: 18px;
  position: absolute;
  margin: 30px auto;
  border-radius: 5px;
  left: 15%;
  top: 4%;

}
.pokeSearchForm{
   padding-top: 20px;
   position: absolute;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
}

.bg {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("/static/pokeBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
    height: 100vh;
    width:100vw;
}

.downloadBtn{
   position: absolute;
   bottom: 10px;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
   text-align: center;
}

.loadingGIF {
    background: url("/static/loading.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
    height: 100%;
    width:100%;
}

.cardGame {
    transform: scale(0.7);
}

.cards {
align-items: center;
  justify-content: space-around;
}