@import url('http://fonts.cdnfonts.com/css/cubicfive');
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}
html {
	margin: 0;
}
body {
	background-image: url("pokeBackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align:center;
}

.damage-table {

    font: normal 13px Arial, sans-serif;
}
.damage-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}

.damage-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

.damage-table tbody td:hover {
    font-weight: bold;
}

.row-name {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff
}
.disabled {
pointer-events:none;
}




