<div id="firstPlayerAttackBtn" class="col-2 d-flex justify-content-center flex-column">
    {% if firstPlayerAttacking == true %}
    <script>aiAttack()</script>
    <script>showInitialCard('firstPlayerDeck', 'firstPlayerCard')</script>
    {% endif %}
</div>
<div id="secondPlayerAttackBtn" class="col-2 d-flex justify-content-center flex-column">
    {% if firstPlayerAttacking == false %}
    <script>aiAttack()</script>
    <script>showInitialCard('secondPlayerDeck', 'secondPlayerCard')</script>
    {% endif %}

</div>