
<form class = "row g-3">
    <div class="col-auto">
        <label style="color:white">Look up:</label>
    </div>
    <div class = "col-auto">
    <select id="typeSearch" name="typeSearch">
        <option value="all">Show all</option>
        {% if typeColour is not none %}
        {% for type in typeColour.keys() %}
            <option value="{{type}}">{{type}}</option>
        {% endfor %}
        {% endif %}
    </select>
    </div>
</form>
<div class ="col-auto">
    <button class="pokedexBtn" type="button" onclick="getPokeType()">Search Type</button>
</div>