
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
   <link href="static/menuStylesheet.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="icon">
   <img src="https://res.cloudinary.com/codier/image/upload/v1599647107/c86y0mi6u1nlzhibomcw.png" alt="icon" width="50px" height="50px"></a>
</div>
<img id="banner" src="https://res.cloudinary.com/codier/image/upload/v1599647184/xwi2mmftfo1izxrqmc9i.png" alt="banner" width="300px" height="250px">



<img id="overlay" src="https://res.cloudinary.com/codier/image/upload/v1599647241/hvwcmnurmxow5ilmdir6.png" width="400px" height="400px">
<div class="stats">
<p> <strong>PyCharmanders</strong> <br> A fire burns at the tip of this Pokémon's slender tail and has blazed there since Charmander's birth. The flame can be used as an indication of Charmander's health and mood, burning brightly when the Pokémon is strong, weakly when it is exhausted, wavering when it is happy, and blazing when it is enraged. </p>
<span class='start-btn'>START</span>
</div>
</body>
</html>