<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="static/setupStylesheet.css" rel="stylesheet" type="text/css">
</head>
<body>
 <img src="static/pokeLogo.png" alt="Pokemon logo">
<h1 class="title">Choose your Game mode</h1>

<div class="container">
  <div class="content">
    <a href="/pokeGame/aivp" target="_blank">
      <div class="content-overlay"></div>
      <img class="content-image" src="static/ash.png">
      <div class="content-details fadeIn-left">
        <h3 class="content-title">AI VS PLAYER</h3>
      </div>
    </a>
  </div>
</div>

<div class="container">
  <div class="content">
    <a href="/pokeGame/pvp" target="_blank">
      <div class="content-overlay"></div>
      <img class="content-image" src="static/rocket.png">
      <div class="content-details fadeIn-top">
        <h3>PLAYER VS PLAYER</h3>
      </div>
    </a>
  </div>
</div>

<div class="container">
  <div class="content">
    <a href="/pokeGame/aivai" target="_blank">
      <div class="content-overlay"></div>
      <img class="content-image" src="static/team.png">
      <div class="content-details fadeIn-right">
        <h3>AI VS AI</h3>
      </div>
    </a>
  </div>
</div>
</body>
</html>