<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
   <link href="static/menuStylesheet.css" rel="stylesheet" type="text/css">
</head>
<body>

<img id="banner" src="https://res.cloudinary.com/codier/image/upload/v1599647184/xwi2mmftfo1izxrqmc9i.png" alt="banner" width="30px" height="25px">
<br>
<img id="overlay" src="https://res.cloudinary.com/codier/image/upload/v1599647241/hvwcmnurmxow5ilmdir6.png" width="40px" height="40px">

<div ontouchstart="">
  <div class="button">
    <a href="#">Game</a>
  </div>
<div ontouchstart="">
  <div class="button">
    <a href="#">PokeDex</a>
  </div>
</div>


</body>
</html>