<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Damage Table</title>
    <link href="static/tableDamage.css" rel="stylesheet" type="text/css">
    <link href="static/pokedexNavbar.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--#NAVBARRRRR-->


<h1> Damage</h1>
 <div class="row formRow d-flex justify-content-center">
    <form class="text-center pokeSearchForm">
        <label>Enter Pokemon:</label>
        <select id="typeSearch" name="typeSearch">
            <option value="all">Show all</option>
            {% if typeColour is not none %}
            {% for type in typeColour.keys() %}
            <option value="{{type}}">{{type}}</option>
            {% endfor %}
            {% endif %}
        </select>
    </form>
</div>

<div class="row d-flex justify-content-center">
    <div>
        <button class="pokedexBtn" type="button" onclick="getPokeType()">Search Type</button>
    </div>
</div>

<div>
    <table class="damage-table damage-table-highlight-all" id = "damage-table">
        <thead>
            <tr>
                <th style = "background-color: green"><img src="static/poketable.gif" width=100px></th>
                {% for type, colour in typeColour.items() %}
                    <th class = "rotate" style = "background-color: {{colour}}; color: black"><div><span>{{type}}</span></div></th>
                {% endfor %}
            </tr>
        </thead>
        <tbody id="tbody">
            {% for typeName, typeData in typesData.items() %}

                <tr id = {{typeName}}>
                    <td class = "row-name" style = "background-color: {{typeColour[typeName]}}; color: black"><b>{{typeName}}</b></td>

                    {% for damageValue in typeData %}
                        {% if damageValue == 2 %}
                            <td id = "two" style = "background-color: green">2</td>
                        {% elif damageValue == 0.5 %}
                            <td id = "half" style = "background-color: orange">1/2</td>
                        {% elif damageValue == 0 %}
                            <td id = "zero" style ="background-color:red">X</td>
                        {% elif damageValue == None %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>


    </table>
</div>

<script src="/static/table.js"></script>
</body>
</html>