<!DOCTYPE html>

<html lang="en" xmlns:pointer-events="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Damage Table</title>
    <link href="static/tableDamage.css" rel="stylesheet" type="text/css">
    <script src="/static/table.js"></script>

</head>
<body>

<h1> Damage</h1>

<div>
    <table class="damage-table" id = "table">
        <thead>
            <tr>
                <th><img src="static/poketable.gif" width=30px></th>
                {% for type, colour in typeColour.items() %}
                    <th style = "background-color: {{colour}}">{{type}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for typeName, typeData in typesData.items() %}

                <tr>
                    <td class = "row-name" style = "background-color: {{typeColour[typeName]}}"><b>{{typeName}}</b></td>

                    {% for damageValue in typeData %}
                        {% if damageValue == 2 %}
                            <td id = "2" style = "background-color: green" onmouseover = "highlight()">2</td>
                        {% elif damageValue == 0.5 %}
                            <td style = "background-color: orange" onmouseover = "highlight()">1/2</td>
                        {% elif damageValue == 0 %}
                            <td style ="background-color:red" onmouseover = "highlight()"><b>X</b></td>
                        {% elif damageValue == None %}
                            <td style = "background-color: white"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
        </tbody>
    {% endfor %}

    </table>
</div>

<script>



}
</script>
</body>
</html>